{% extends "base.html" %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>
	{% block content %} 
	<h1 style="color:white; background-color:black;">About Our Project</h1>
	<p style="background-color: black; color:white;">
	We are creating a smart solar cell, capable of adjusting its angular position depending on the 
	intensity of light it is receiving. Voltage and position data will be collected and uploaded to a webpage
	where the full results can be analzed. The project will require a solar cell, motor, cogs, light sensor, Raspberry 
	Pi, Analog Discovery, and Parallax Propeller. 
	</p>
	{% endblock %}
</body>
</html>
