{% extends "base.html" %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %} 
		<form method=post enctype=multipart/form-data>
			<input type=file name=file>
			<input type=submit value=Upload>
		</form>
	{% endblock %}
</body>
</html>
